on: workflow_dispatch
name: Build and release
jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:kde-5.15
      options: --privileged
    strategy:
      matrix:
        distro: [fedora-35, other]
    steps:
    - uses: actions/checkout@v2
    - run: ./configure-manifest.sh
      env:
        DISTRO: ${{ matrix.distro }}
    - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v4
      with:
        bundle: qdigidoc-${{ matrix.distro }}.flatpak
        manifest-path: ee.ria.qdigidoc4.yml
        cache-key: flatpak-builder-${{ matrix.distro }}-${{ github.sha }}
  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    name: "Release"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
      - uses: softprops/action-gh-release@v1
        with:
          draft: true
          body: |
            Download the flatpak that matches your distro (or "other" if there is no matching
            distro) and install it with the following command:
            ```
            flatpak install qdigidoc-*.flatpak
            ```
          files: |
            qdigidoc-fedora-35-x86_64/qidigidoc-fedora-35.flatpak
            qdigidoc-other-x86_64/qidigidoc-other.flatpak

